<div class="hero_area">
    <!-- slider section -->
    <section class="slider_section long_section">
      <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Story <br>
                      Telling
                    </h1>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                    </p>
                    <div class="btn-box">
                      <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#104;&#097;&#114;&#108;&#101;&#115;&#100;&#101;&#098;&#097;&#114;&#114;&#111;&#115;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;" target="_blank" rel='nofollow' class="btn1">
                        Contact Me
                      </a>
                      <a href="about" class="btn2">
                        About Me
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Database <br>
                      Manipulation
                    </h1>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                    </p>
                    <div class="btn-box">
                      <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#104;&#097;&#114;&#108;&#101;&#115;&#100;&#101;&#098;&#097;&#114;&#114;&#111;&#115;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;" target="_blank" rel='nofollow' class="btn1">
                        Contact Me
                      </a>
                      <a href="about" class="btn2">
                        About Me
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Database <br>
                      Manipulation
                    </h1>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                    </p>
                    <div class="btn-box">
                      <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#104;&#097;&#114;&#108;&#101;&#115;&#100;&#101;&#098;&#097;&#114;&#114;&#111;&#115;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;" target="_blank" rel='nofollow' class="btn1">
                        Contact Me
                      </a>
                      <a href="about" class="btn2">
                        About Me
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Report <br>
                      Building
                    </h1>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                    </p>
                    <div class="btn-box">
                      <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#104;&#097;&#114;&#108;&#101;&#115;&#100;&#101;&#098;&#097;&#114;&#114;&#111;&#115;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;" target="_blank" rel='nofollow' class="btn1">
                        Contact Me
                      </a>
                      <a href="about" class="btn2">
                        About Me
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel" data-slide-to="1"></li>
          <li data-target="#customCarousel" data-slide-to="2"></li>
          <li data-target="#customCarousel" data-slide-to="3"></li>
        </ol>
      </div>
    </section>
    <!-- end slider section -->
  </div>